.moduleOrgaRoles .bubbles {
    height: 405px;
    width: 100%;
    overflow: auto;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-content: flex-start
}

.moduleOrgaRoles .bubbles .bubble {
    width: calc(50% - 5px);
    height: fit-content;
    background: #F2F2F2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.moduleOrgaRoles .bubbles .bubble .titre {
    font-size: 22px;
    margin-left: 22px;
    margin-top: 18px;
    margin-bottom: 15px;
}

.moduleOrgaRoles .bubbles .bubble .description {
    font-size: 18px;
    margin-left: 22px;
    margin-bottom: 22px;
}
